@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik&display=swap');

#baselineActivity{
    height: 650px;
    width: 40%;
    margin-top: 2%;
    padding-top: 3%;
    margin-left: 30%;
    border-radius: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    justify-content: center;
}
#question{
    line-height: 10px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
}

#optionsActivity{
    text-align: left;
    padding: 10px 50px 10px 50px;
}
.pTag{
    font-size: 13px;
}

.firstOption{
    border: 1px solid rgb(192, 188, 188);
    line-height: 20px;
    border-radius: 5px;
    margin-left: 1%;
    padding: 10px 10px 10px 15px;
    line-height: 15px;
    margin-top: 10px;
    text-transform: none;
}

.activityLabel{
    vertical-align: middle;
     font-size: 16px;
     font-weight: 400;
     font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
     cursor: pointer;
}

.activityInp{
    visibility:hidden;
}

.firstOption:hover{
    border-color: rgb(95, 95, 95);
}